@model IEnumerable<Post>

<aside class="single-sidebar-widget tag_cloud_widget" style="background-color:gainsboro">
    <h4 class="widget_title">Lastest Post</h4>
    <ul class="list">
        @foreach (var item in Model)
        {
            <li>
                <a href="@Url.Action("Details","Posts", new {  year=item.PublishedDate.Year,
                                                    month=item.PublishedDate.Month.ToString("D2"),
                                                    urlSlug=item.UrlSlug})">@item.Title</a>
                <p>@item.ShortDescription</p>
            </li>

        }
    </ul>
</aside>
