
@{
    ViewBag.Title = "Login";
}

<form action="@Url.Action("Login", "Home")" method="post">
    <input name="username" />
    <input name="password" />
    <button type="submit">Submit</button>
</form>

