<div class="card text-center">
    <img src="~/Assets/images/avatar/avatar-3.jpg" class="about-me-img rounded-circle bg-success m-auto" alt="...">
    <div class="mt-2">
        <a href="https://www.facebook.com/BuiMinhSang1004/" class="me-4 text-reset ">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset ml-2">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com/buiminhsangg/" class="me-4 text-reset ml-2">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://github.com/minhsangfpthl" class="me-4 text-reset ml-2">
            <i class="fab fa-github"></i>
        </a>
    </div>
    <div class="card-body" style="color:cadetblue">
        <h5 class="card-title" >Bui Minh Sang</h5>

        <p class="card-text" >Developer SoftWare.</p>
    </div>
</div>
